@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-moz-selection {
  @apply bg-yellow-400 text-gray-900;
}

::selection {
  @apply bg-yellow-400 text-gray-900;
}

.p {
  @apply leading-[1.65rem] my-8 text-white;
}

.link {
  @apply cursor-pointer text-yellow-400 hover:text-white;
}
